<script>
    /** @type {import('./$types').PageData} */
    export let data;
    let v = "p: 1U3. q: 2, 4U∞.";
    let e = "p ∧ q";
    let e_element;
    let output;

    function updateExpression(char) {
        e = e.slice(0, e_element.selectionStart) + char + e.slice(e_element.selectionStart, e.length);
    }

    async function updateOutput() {
        output = data.checkTemp(v, e);
    }

    const width = 500;
    const height = 500;
    const radius = 10;
</script>

<style> 
.column {
    float: left;
    width: 50%;
}
</style>

<h1>Model Checking</h1>

 <div class="row">
  <div class="column">
    <h2>Linear Temporal Logic</h2>

    <p>Define the model to check.</p>

    <form>
        <p>Valuations for states in kripke model:</p>
        <input type="text" bind:value={v}><br><br>
        <p>Temporal logic expression to check for:</p>
        <input type="button" on:click={() => updateExpression('⊤')} value="⊤">
        <input type="button" on:click={() => updateExpression('⊥')} value="⊥">
        <input type="button" on:click={() => updateExpression('¬')} value="¬">
        <input type="button" on:click={() => updateExpression('∧')} value="∧">
        <input type="button" on:click={() => updateExpression('∨')} value="∨">
        <input type="button" on:click={() => updateExpression('→')} value="→">
        <input type="button" on:click={() => updateExpression('↔')} value="↔">
        <input type="button" on:click={() => updateExpression('X')} value="X">
        <input type="button" on:click={() => updateExpression('F')} value="F">
        <input type="button" on:click={() => updateExpression('G')} value="G">
        <input type="button" on:click={() => updateExpression('U')} value="U">
        <input type="button" on:click={() => updateExpression('R')} value="R">
        <input type="button" on:click={() => updateExpression('W')} value="W">
        <br>
        <input type="text" bind:value={e} bind:this={e_element}>
        <br><br>
        <input type="button" on:click={updateOutput} value="Check">
    </form>

    {#await output}
        <p>Checking...</p>
    {:then output_string}
        <p>{output_string}</p>
    {:catch error}
        <p>Error. Please try again.</p>
    {/await}
  </div>
  <div class="column">  
    <svg width="{width}" height="{height}">
        <rect width="{width}" height="{height}" fill="none" stroke="black" />
    </svg>
  </div>
</div> 
