<script>
    import { page } from '$app/stores';
</script>

<nav>
	<a class:active={$page.url.pathname === "/"} href="/">Home</a>
	<a class:active={$page.url.pathname === "/prop"} href="/prop">Propositional Checker</a>
	<a class:active={$page.url.pathname === "/modal"} href="/modal">Modal Checker</a>
	<a class:active={$page.url.pathname === "/temp"} href="/temp">Temporal Checker</a>
</nav>

<slot></slot>

<style>
	nav {
		display: block;
		background-color: #b2b2b2;
		padding: 10px 10px;
		margin: -10px -20px;
	}

	a {
		padding: 10px 10px;
		text-decoration: none;
		color: black;
	}

	nav a:hover:not(.active) {
		background-color: #a1467e;
	}

	.active {
		background-color: #729fcf;
	}

	:global(*) {
		font-family: sans-serif;
	}
</style>